.departure-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__title {
        text-align: center
    }
    
    &__item {
        display: table;
        width: 100%;
        border-bottom: 1px solid #000;

        &--first {
            border: 0;
        }

        &--header {
            //color: #D1D1D1;
        }
    }

    &__col {
        display: table-cell;
        padding: 15px 10px;
    }
}