.departure-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__title {
        text-align: center
    }

    &__header {
        &-title {
            font-size: 12px;
        }
    }

    &__row {
        &:first-child {
            margin-bottom: 20px;
        }
    }
    
    &__item {
        border-bottom: 1px solid #000;

        &--first {
            border: 0;
        }
    }

    &__col {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}