<div *ngIf="trains">
  <h1>{{ trains.locationName }}</h1>

  <ul class="departure-list">
    <li class="departure-list__header">
    
    </li>
    <li *ngFor="let train of trains.trainServices; let i = index">
      <div class="departure-list__item" *ngIf="i==0">
        <p class="departure-list__col">{{ train.std }}</p>
        <p class="departure-list__col">{{ train.destination[0].locationName }}</p>
        <p class="departure-list__col"><span *ngIf="train.platform">Platform </span>{{ train.platform }}</p>
        <p class="departure-list__col">{{ train.etd }}</p>
        <p class="departure-list__col">{{ departureTime(train.std) }}</p>
      </div>
      <div *ngIf="i>0">
        <div class="departure-list__item" *ngIf="i==1">
          <p class="departure-list__col">Due</p>
          <p class="departure-list__col">Destination</p>
          <p class="departure-list__col">Expected</p>
        </div>
        <div class="departure-list__item">
          <p class="departure-list__col">{{ train.std }}</p>
          <p class="departure-list__col">{{ train.destination[0].locationName }}</p>
          <p class="departure-list__col">{{ train.etd }}</p>
          <p class="departure-list__col">{{ departureTime(train.std, train.etd) }}</p>
        </div>
      </div>
      
    </li>
  </ul>

  <button (click)="this.setTrainTimes()">Refresh</button>
</div>
